<launch>
	 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
	<node name="rviz_node" pkg="rviz" type="rviz" args="-d $(find wta_distributed_optimization)/rviz/wta_demo.rviz"/>
</launch>

